*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-color : #848d81 ;
}


.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
}

.background {
    background-image: url("/assets/backgraund.jpg");
    background-size: cover;
    background-position: center;

}

.card{
    border: 3px solid var(--green-color);

    border-radius: 20px;

    margin-top: 100px;
    
    padding: 40px 10px;
    width: 500px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    background-color: rgba(255, 255, 255, 0.84);

    
}

.card-header {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}


.card-header__profile-image{
    border-radius: 50%;
   height: 40%;
   width: 40%;
}

.card-header_name{
    color: var(--green-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.card-header__last-name{
    font-weight: 700;
}

.card__link{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 100%;


}


.card__link li {
    border-radius: 20px;

    border-right: 5px solid var(--green-color);
    border-bottom: 5px solid var(--green-color);
    background-color: var(--green-color);
    width: 100%;
    padding: 20px 10px ;
}

.card__link li a {
    text-decoration: none;

    color: #ffffff;
}

.card__social-links{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    width: 100%;

    list-style: none;
}


.card__social-links img{
   
    width: 30px;
    height: 30px;
}

.card__link li:hover, .card__social-links img:hover{
    transform: scale(1.1);
}
